---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">
	<h1>Hello Astronaut</h1>
	<ul>
		<li><a href="/album1">Album One...</a></li>
		<li><a href="/album2">Album Two...</a></li>
		<li><a href="/albums">Album of Albums...</a></li>
	</ul>
</Layout>