<style>
.dropdown-menu {
	min-width: 199px;
}
.dropdown-menu.columns-3 {
	min-width: 500px;
	padding: 0.5rem 0;
}
.multi-column-dropdown {
	list-style: none;
	padding: 0;
	margin: 0;
}
.multi-column-dropdown li a {
	display: block;
	padding: 0.5rem 1rem;
	color: var(--bs-body-color);
	text-decoration: none;
}
.multi-column-dropdown li a:hover {
	background-color: var(--bs-tertiary-bg);
	text-decoration: none;
}
.multi-column-dropdown .divider {
	height: 1px;
	margin: 0.5rem 0;
	background-color: var(--bs-border-color);
}
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Albums </a>
          <ul class="dropdown-menu" style="min-width: 256px;">
            <li>
                <a class='btn btn-sm btn-outline-light m-1' href="/album1">1960s</a>
                <a class='btn btn-sm btn-outline-light m-1' href="/album2">1970s</a>
                <a class='btn btn-sm btn-outline-light m-1' href="/album3">1980s</a>
                <a class='btn btn-sm btn-outline-light m-1' href="/jalbum1">1990s</a>
                <a class='btn btn-sm btn-outline-light m-1' href="/jalbum2">2000</a>
                <a class='btn btn-sm btn-outline-light m-1' href="/album1">2001</a>
                <a class='btn btn-sm btn-outline-light m-1' href="/album2">2002</a>
                <a class='btn btn-sm btn-outline-light m-1' href="/album3">2003</a>
                <a class='btn btn-sm btn-outline-light m-1' href="/jalbum1">2004</a>
                <a class='btn btn-sm btn-outline-light m-1' href="/jalbum2">2005</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
	            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Three Column <b class="caret"></b></a>
	            <ul class="dropdown-menu multi-column columns-3 p-0">
		            <li class="row g-0">
			            <div class="col-4">
				            <ul class="multi-column-dropdown">
					            <li><a href="#">Action</a></li>
					            <li><a href="#">Another action</a></li>
					            <li><a href="#">Something else here</a></li>
					            <li class="divider"></li>
					            <li><a href="#">Separated link</a></li>
					            <li class="divider"></li>
					            <li><a href="#">One more link</a></li>
				            </ul>
			            </div>
			            <div class="col-4">
				            <ul class="multi-column-dropdown">
					            <li><a href="#">Action</a></li>
					            <li><a href="#">Another action</a></li>
					            <li><a href="#">Something else here</a></li>
					            <li class="divider"></li>
					            <li><a href="#">Separated link</a></li>
					            <li class="divider"></li>
					            <li><a href="#">One more link</a></li>
				            </ul>
			            </div>
			            <div class="col-4">
				            <ul class="multi-column-dropdown">
					            <li><a href="#">Action</a></li>
					            <li><a href="#">Another action</a></li>
					            <li><a href="#">Something else here</a></li>
					            <li class="divider"></li>
					            <li><a href="#">Separated link</a></li>
					            <li class="divider"></li>
					            <li><a href="#">One more link</a></li>
				            </ul>
			            </div>
		            </li>
	            </ul>
	        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
